.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.5rem;

  div {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 700;
    margin: 15px;
  }

  div:first-child {
    cursor: pointer;

    transition: 0.2s filter ease-in-out;

    &:hover {
      filter: contrast(0.3);
    }
  }

  a:nth-last-child(1) {
    font-size: 0.75rem;
    border: 1px solid rgb(255, 152, 0);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }

  a:hover {
    color: rgb(255, 152, 0);
  }
}
